@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Sans:wght@300;400;500;600&display=swap');

.terms-page {
    min-height: 100vh;
    /* background: #f5f2eb; */
    color: #1a1a1a;
    /* font-family: 'DM Sans', sans-serif; */
}

.terms-page * {
    box-sizing: border-box;
}


.terms-hero {
    background: #FDFFE14D;
    padding: 70px 652px 64px;
    border-bottom: 1px solid #e0dbd0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.terms-back-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #555;
    text-decoration: none;
    margin-bottom: 36px;
    cursor: pointer;
    transition: color 0.2s;
    transition: all 0.2s ease;
}

.terms-back-link:hover {
    color: #1a1a1a;
    transform: translateX(-3px); 
}

.terms-title {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'DM Serif Display', serif;
    font-size: 48px;
    font-weight: 400;
    color: #1a1a1a;
    margin-bottom: 12px;
}

.terms-title-icon {
    width: 44px;
    height: 44px;
    border: 2px solid #1a1a1a;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.terms-date {
    font-size: 14px;
    color: #888;
    font-weight: 300;
}



.terms-content {
    max-width: 680px;
    margin: 60px auto;
    padding: 0 40px;
}

/* Welcome Block */
.terms-welcome {
    margin-bottom: 48px;
}

.terms-welcome h2 {
    /* font-family: 'DM Serif Display', serif; */
    font-size: 30px;
    font-weight: 400;
    color: #1a1a1a;
    margin-bottom: 10px;
}

.terms-welcome p {
    font-size: 15px;
    color: #555;
    line-height: 1.7;
    font-weight: 300;
    }

/* Sections */
.terms-section {
    margin-bottom: 36px;
    padding-bottom: 36px;
    border-bottom: 1px solid #e8e4dc;
}

.terms-section:last-child {
    border-bottom: none;
}

.terms-section h3 {
    /* font-family: 'DM Serif Display', serif; */
    font-size: 25px;
    font-weight: 400;
    color: #1a1a1a;
    margin-bottom: 12px;
}

.terms-section p {
    font-size: 15px;
    color: #555;
    line-height: 1.75;
    font-weight: 300;
}

.terms-section ul {
    margin-top: 12px;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.terms-section ul li {
    font-size: 14px;
    color: #555;
    font-weight: 300;
    padding-left: 20px;
    position: relative;
    line-height: 1.6;
}

.terms-section ul li::before {
    content: "–";
    position: absolute;
    left: 0;
    color: #aaa;
}

.terms-section a {
    color: #1a1a1a;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.terms-section a:hover {
    opacity: 0.7;
}


